body {
    font-family: Arial, sans-serif;
    background-color: #f0f8f8;
    margin: 0;
    padding: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #6aa4aa;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #6aa4aa;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #6aa4aa;
    color: white;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #6aa4aa;
    color: white;
    text-decoration: none;
    border-color: transparent;
    border-radius: 50px;
    font-size: 18px; /* Add this line to set the font size */
}

.btn:hover {
    background-color: #4f8d8d;
}
