html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    width: 100%;
    margin-top: 182px;
    background: linear-gradient(135deg, #6aa4aa, #4d8787);
}

.register {
    background: linear-gradient(135deg, #6aa4aa, #4d8787);
    padding: 0px;
    margin-top: 70px;
    box-shadow: -20px 0px 34px -10px #6aa4aa;
}

.register-left {
    text-align: center;
    color: #fff;
    margin-top: 4%;
}

.register-left input {
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #333C83;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}

.register-right {
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.register-left img {
    margin-top: 15%;
    margin-bottom: 5%;
    width: 57%;
    -webkit-animation: wobble-hor-top 0.8s 10s infinite both;
    animation: wobble-hor-top 0.8s 10s infinite both;
}


.register-left p {
    font-weight: lighter;
    padding: 10%;
    margin-top: -17%;
}

.register .register-form {
    padding: 10%;
    margin-top: 10%;
}

.btnRegister {
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #4d8787;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}

.register .nav-tabs {
    margin-top: 3%;
    border: none;
    background: #4d8787;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}

.register .nav-tabs .nav-link {
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.register .nav-tabs .nav-link:hover {
    border: none;
}

.register .nav-tabs .nav-link.active {
    width: 114px;
    color: #4d8787;
    border: 2px solid #4d8787;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.register-heading {
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}
